*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4 ,200px);
    gap: 0.5rem;
    padding: 2rem;
    border: 2px solid white;
    /* justify-items: stretch; */
    /* align-items: end; */
    place-items: center ;
}
.item{
    height: 100px;
    width: 100px;
    background-color: skyblue;
    border: 5px solid grey;
    /* justify-self: stretch; */
    /* align-self: end; */
    /* place-self: center stretch; */
}