* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none !important;
}

.glass{
  background: linear-gradient(135deg, #1212121b, transparent);
  /* background-color: white; */
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.056);
}

.color_para_org {
  color: #ff6900;
  font-weight: bold;
}
.logo_text {
  color: #1264c4;
  font-size: 2rem;
  font-weight: bold;
  margin: 0px 10px;
}
#logo_img{
  width : auto;
  height :40px !important;
}
@media (min-width: 300px) {
  #logo_img{
    height: 32px !important;
    width: auto;
  }
}

.nav-item {
  font-size: 1.25rem !important;
  font-weight: bold !important;
}
.navbar-nav {
  margin: 0px 10px;
}
.navbar-nav .nav-item:hover .nav-link {
  color: #ff6900 !important;
}
.contact_button {
  display: none;
  border: none;
  border-radius: 0.357rem;
  background-color: #ff7818;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
}
@media screen and (min-width: 768px) {
  .contact_button {
    display: block;
  }
}

.contact_button:hover {
  background-color: #ff6900;
}

.menu_button {
  display: none;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  background-color: white;
}
@media screen and (max-width: 768px) {
  .menu_button {
    display: block;
  }
}
.menu_icon {
  height: 1.5rem;
  width: 1.5rem;
}

.scroller {
  background-image: url("images/Inspire.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 100px;
}

.scroll-window {
  height: 100px;
  overflow-y: hidden;
}
.scroll-container {
  animation: scroll infinite ease-in-out;
  animation-duration: 3s;
}
.scrolling {
  line-height: 100px;
  margin-bottom: 5px;
  color: rgb(247, 6, 6);
}
@-moz-keyframes scroll {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-105px);
  }
  50% {
    transform: translateY(-210px);
  }
  75% {
    transform: translateY(-315px);
  }
  100% {
    transform: translateY(-420px);
  }
}
@-webkit-keyframes scroll {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-105px);
  }
  50% {
    transform: translateY(-210px);
  }
  75% {
    transform: translateY(-315px);
  }
  100% {
    transform: translateY(-420px);
  }
}
@-o-keyframes scroll {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-105px);
  }
  50% {
    transform: translateY(-210px);
  }
  75% {
    transform: translateY(-315px);
  }
  100% {
    transform: translateY(-420px);
  }
}
@keyframes scroll {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-105px);
  }
  50% {
    transform: translateY(-210px);
  }
  75% {
    transform: translateY(-315px);
  }
  100% {
    transform: translateY(-420px);
  }
}

:root {
  --light: #ff9999;
  --medium: #eb6666;
  --dark: #eb0028;
}

@keyframes background-pan {
  from {
    background-position: 0 center;
  }
  to {
    background-position: -200% center;
  }
}

.magic-text {
  animation: background-pan 1s linear infinite;
  background: white;
  background-size: 200%;
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  font-weight: 700;
  text-transform: capitalize;
  text-shadow: rgb(255, 255, 255) 2px 3px 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .magic-text {
    font-size: 50px;
  }
  .scroller{
      background-image: url("images/Inspire_mobile.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 100px;

  }
  .navbar-brand img{
    height: 20 ;
  }
}

.container {
  max-width: 66vw;
  padding: 2rem 1rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.header_container {
  margin-bottom: 2.8rem;
}
.head_title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: center;
  border-radius: 8px;
  color: #1264c4;
}
.head_p {
  font-weight: 600;
  max-width: 568px;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
}

.sub-title{
  padding: 1rem 1rem 1rem 0;
  font-weight: bold;
}

.main_container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
}

@media (min-width: 300px) {
  .container {
    max-width: 90vw;
  }
}
@media (min-width: 650px) {
  .main_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1080px) {
  .main_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1340px) {
  .main_container {
    grid-template-columns: repeat(4, 1fr);
  }
}
.card_container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(148, 145, 145); */
  
}
.card_container:hover .card_image {
  transform: scale(1.1);
  transition-duration: 200ms;
}
.card_img {
  position: relative;
  overflow: hidden;
  height: 14rem;
  border-radius: 7px;
}
.card_image {
  object-fit: cover;
  object-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
.card_title_container {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0rem 0rem;
}
.card_category p{
  color: #ff9346;
  font-weight: 500;
  margin: 0;
  height: 1.5rem;
  font-size: 0.9rem;
}
.card_title {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  /* margin-bottom: 0.6rem; */
  color: rgb(0, 0, 0);
}
.card_title h2 {
  font-size: 1.4rem;
}
.card_title:hover {
  color: #ff6900;
}
.card_desc {
  color: rgb(85, 80, 80);
  font-size: 1rem;
}
.card_foot_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 ;
  padding-bottom: 1rem;
  position: relative;
  bottom: 0;
}
.card_author_container {
  display: flex;
  align-items: center;
  gap: 1rem;
  bottom: 0;
}
.author_avatar {
  height: 2.5em;
  width: 2.5rem;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid rgb(50, 47, 47);
  background-color: rgb(232, 231, 231);
}
.author_info {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  font-weight: bold;
  color: #747474;
}


.color_para_org {
  color: #ff6900;
  font-weight: bold;
}
.logo_text {
  color: #1264c4;
  font-size: 2rem;
  font-weight: bold;
}
.nav-item {
  font-weight: 600;
  font-size: 1.125rem;
  color: black;
  transform: color 0.1s;
}

.carousel-text{
  padding: 10px;
  padding-left: 5px;
  padding-left: 5px;
  background-color: rgba(0, 0,0, 0.6);
  border-radius: 15px;
}

.carousel-link{
  font-size: 22px;
  font-weight: bold;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

@media (min-width: 950px) {
  #myCarousel {
    margin-left: 50px;
    margin-right: 50px;
  }

}

@media (max-width: 950px) {
  .carousel-link{
  -webkit-text-stroke-width: 0.5px;
    font-size:medium;
  }
  .carousel-text{
    font-size: medium;

  }
  
}

@media (max-width: 600px) {
  .carousel-link{
    font-size:small;
    padding: 0px;
    margin: 0px;
  }
  .carousel-text{
    margin: 0px;
    padding: 3px;
    font-size: small;

  }
  
}